.cardbrand
  - case @card_brand
  - when "Visa"
    %i.fa.fa-cc-visa.card-icon
  - when "JCB"
    %i.fa.fa-cc-jcb.card-icon
  - when "MasterCard"
    %i.fa.fa-cc-mastercard.card-icon
  - when "American Express"
    %i.fa.fa-cc-amex.card-icon
  - when "Diners Club"
    %i.fa.fa-cc-diners-club.card-icon
  - when "Discover"
    %i.fa.fa-cc-discover.card-icon