.mypage-header-nav{
border-top: 1px #eee;
height:50px;
box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
background: #fff;

  &__ul{
    width:1020px;
    margin:0 auto;
    padding:16px 0;
      li{
      float:left;
      
}
  }

}

.fa-arrow-right{
  margin:0 5px;
}