.registration-wrapper {
  height: 100%;
  width: 100vw;
  background-color: #f5f5f5;
}

.registration-header {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
    .progress-var {
      display: flex;
      margin-left: 60px;
        .active {
          color: red;
        }
        &__list {
          position: relative;
          z-index: 1;
          display: inline-block;
          font-size: 12px;
          color: #888;
          margin: 0 40px 0 0;
          min-width: 60px;
          text-align: center;
            .active-status {
              background-color: red;
            }
            &--status {
              width: 12px;
              height: 12px;
              margin: 8px auto 0;
              background: #ccc;
              border-radius: 50%;
                &::before {
                  position: absolute;
                  bottom: 5px;
                  z-index: -1;
                  display: block;
                  content: '';
                  width: 65px;
                  height: 2px;
                  background: #ccc;
                  right: 50%;
                }
                &::after {
                  position: absolute;
                  bottom: 5px;
                  z-index: -1;
                  display: block;
                  content: '';
                  width: 65px;
                  height: 2px;
                  background: #ccc;
                  left: 50%;
                }
            }
        }
    }
}

.registration-contents {
  background-color: white;
  margin: 0 auto;
  width: 700px;
    &__head {
      height: 100px;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      line-height: 100px;
      border-bottom: solid 1px #f5f5f5;
    }
    .registration-form {
      &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0 138px;
        .form__group {
          box-sizing: border-box;
          margin-top: 32px;
          width: 100%;
          label {
            display: inline-block;
          }
          &-alert {
            background-color: red;
            color: white;
            font-size: 12px;
            padding: 3px 6px;
            margin: 0 0 0 8px;
            border-radius: 2px;
          }
          .input-def {
            box-sizing: border-box;
            width: 100%;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          .half {
            width: calc(50% - 6px);
          }
          &-text {
            font-weight: bold;
          }
          .select-def {
            width: 76px;
            height: 48px;
            background-color: white;
          }
          .form-info-text {
            color: #888;
            font-size: 15px;
          }
        }
        .registration-btn-submit {
          display: block;
          width: 100%;
          height: 48px;
          font-size: 14px;
          background-color: #ea352d;
          color: white;
          line-height: 48px;
          text-align: center;
          margin-top: 32px;
        }
        .form__group--regi {
          margin-top: 32px;
          margin-bottom: 40px;
        }
        a {
          text-decoration: none;
          color: #0099e8;
        }
      }
    }
}

.registration-footer {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
    &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .registration-var {
      display: flex;
      padding: 30px 0;
    }
    .registration-copylight {
      font-size: 13px;
    }
}

#last:last-child::after {
  content: none;
}

#first:last-child::before {
  content: none;
}

