.home--header {
  background-color: rgb(255, 255, 255);
    .header {
        &__main{
          width: 1020px;
          margin:  0 auto;
          padding: 8px 0px 0px;
        }
        &__top {
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
        }
        &__logo {
          -webkit-box-align: center;
          align-items: center;
          display: flex;
          height: 40px;
          margin-right: 45px;
        }
        &__form {
          position: relative;
          width: 100%;
          display: flex;
        }
        &__down {
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
          margin-top: 8px;
          position:relative
        }
        &__list {
          margin-left: -3px;
        }
        &__listbox {
          padding-left: 0px;
          cursor: pointer;
          height: 44px;
          position: relative;
          z-index: 3;
          padding: 0px 10px;
          direction: initial;
          display: flex;
        }
        &__itemlist {
          padding-right: 10px;
        }
        &__brandlist {
          padding-left: 10px;
        }
        &__user {
          display: flex;
          
        }
        &__login {
          text-align: center;
          margin-left: 11px;
        }
        &__information {
          display: flex;
          float: right;
            &__like {
              display: block;  
            }
            &__notice {
              padding: 0px 14px;
            }
            &__my__page {
              padding-right: 0px;
              padding: 0px 14px;
            }
            &__list {
              padding: 0px 14px;
            }
        }
    }



    #form2{
      vertical-align: baseline;
      margin: 0px;
      padding: 0px;
      border-width: 0px;
      border-style: initial;
      border-color: initial;
      border-image: initial;
      font: inherit;
      width:100%;
    }
    #sbox2{
      background-color: rgb(245, 245, 245);
      font-size: 16px;
      height: 40px;
      line-height: 1.4em;
      position: relative;
      width: 100%;
      -webkit-appearance: none;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(204, 204, 204);
      border-image: initial;
      border-radius: 4px;
      outline: none;
      padding: 0px 300px 0px 10px;
      transition: all 0.3s ease-out 0s;
    }
    #sbtn2{
      background-color: transparent;
      cursor: pointer;
      height: 40px;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 40px;
      -webkit-appearance: none;
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial;
      border-radius: 0px 4px 4px 0px;
      padding: 0px;
    }

    .itemlist {
      display: block;
      font-size: 14px;
      font-weight: 600;
      line-height: 36px;
      white-space: nowrap;
    }

    .brandlist {
      font-size: 14px;
      font-weight: 600;
      line-height: 36px;
      white-space: nowrap;
    }

    .header__mark {
      width: 140px;
    }



    .user_new {
      background-color: rgb(234, 53, 45);
      color: rgb(255, 255, 255);
      display: block;
      font-size: 14px;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(234, 53, 45);
      border-image: initial;
      border-radius: 4px;
      padding: 8px 10px;
      text-decoration: none;
    }


    .login {
      height: 40px;
      background-color: rgb(255, 255, 255);
      color: rgb(0, 149, 238);
      display: block;
      font-size: 14px;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(0, 149, 238);
      border-image: initial;
      border-radius: 4px;
      padding: 8px 10px;
      transition: all 0.3s ease-out 0s;
      text-decoration: none;
    }

    .fa.fa-list-ul {
      max-width: 100%;
      max-height: 100%;
      color: rgb(234, 53, 45);
      height: 12px;
      margin-right: 4px;
    }

    .fa.fa-list-alt {
      max-width: 100%;
      max-height: 100%;
      color: rgb(234, 53, 45);
      height: 12px;
      margin-right: 4px;
    }
    .fa.fa-search {
      max-width: 100%;
      max-height: 100%;
      color: rgb(34, 34, 34);
      height: 14px;
      margin-top: 10px;
      position:absolute;
      right:10px;
      width: 14px;
    }

    .list__category {
      text-decoration: none;
      color: black;
    }

    .list__brand {
      text-decoration: none;
      color: black;
    }

    .notice {
      -webkit-box-align: center;
      align-items: center;
      display: flex;
      font-size: 14px;
      height: 32px;
      transform: scale(1);
      transition: all 0.3s ease-out 0s;
    }

    .list {
      -webkit-box-align: center;
      align-items: center;
      display: flex;
      font-size: 14px;
      height: 32px;
      transform: scale(1);
      transition: all 0.3s ease-out 0s;
    }

    .my__page {
      -webkit-box-align: center;
      align-items: center;
      display: flex;
      font-size: 14px;
      height: 32px;
      transform: scale(1);
      transition: all 0.3s ease-out 0s;
    }

    .link {
      text-decoration: none;
      -webkit-box-align: center;
      align-items: center;
      display: flex;
      height: 32px;
      color: black;
    }

    .link:hover {
    color: skyblue;
    }
}

.category_list {
  margin-left: 30px;

  &:hover ul.category_ul{
    display: block;
  }
}

li{

  list-style:none;
}

.category_ul{
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1;
  display: none;
  background-color: #fafafa;
  width: 200px;
  height: 100px;
  li {
    margin-left: 0;
    &:hover {
      background-color: red;
    }
  }
}