// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product--page {
  background-color: #f5f5f5;

.header {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  position: relative;
  z-index: 3;
&__main{
  width: 1020px;
  margin:  0 auto;
  padding: 8px 0px 0px;
}
&__top {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
&__logo {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  height: 40px;
  margin-right: 45px;
}
&__form {
  position: relative;
  width: 100%;
  display: flex;
}
&__down {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 8px;
  position:relative
}
&__list {
  margin-left: -3px;
}
&__listbox {
  padding-left: 0px;
  cursor: pointer;
  height: 44px;
  position: relative;
  z-index: 3;
  padding: 0px 10px;
  direction: initial;
  display: flex;
}
&__itemlist {
  padding-right: 10px;
}
&__brandlist {
  padding-left: 10px;
}
&__user {
  display: flex;
}
&__login {
  text-align: center;
  margin-left: 11px;
}

#form2{
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  font: inherit;
}
#sbox2{
  background-color: rgb(245, 245, 245);
  font-size: 16px;
  height: 40px;
  line-height: 1.4em;
  position: relative;
  width: 100%;
  -webkit-appearance: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  border-radius: 4px;
  outline: none;
  padding: 0px 50px 0px 10px;
  transition: all 0.3s ease-out 0s;
}
#sbtn2{
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  -webkit-appearance: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 0px 4px 4px 0px;
  padding: 0px;
}
.itemlist {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  white-space: nowrap;
}
.brandlist {
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  white-space: nowrap;
}
.header__mark {
  width: 140px;
}
.user_new {
  background-color: rgb(234, 53, 45);
  color: rgb(255, 255, 255);
  display: block;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(234, 53, 45);
  border-image: initial;
  border-radius: 4px;
  padding: 8px 10px;
  text-decoration: none;
}
.login {
  height: 40px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 149, 238);
  display: block;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 149, 238);
  border-image: initial;
  border-radius: 4px;
  padding: 8px 10px;
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
}
.fa.fa-list-ul {
  max-width: 100%;
  max-height: 100%;
  color: rgb(234, 53, 45);
  height: 12px;
  margin-right: 4px;
}
.fa.fa-list-alt {
  max-width: 100%;
  max-height: 100%;
  color: rgb(234, 53, 45);
  height: 12px;
  margin-right: 4px;
}
.fa.fa-search {
  max-width: 100%;
  max-height: 100%;
  color: rgb(34, 34, 34);
  height: 14px;
  margin-top: 2px;
  width: 14px;
}
.list__category {
  text-decoration: none;
  color: black;
}
.list__brand {
  text-decoration: none;
  color: black;
}
.header__information {
  display: flex;
  float: right;
}
.header__information__like {
  display: block;
}
.header__information__notice {
  padding: 0px 14px;
}
.notice {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 32px;
  transform: scale(1);
  transition: all 0.3s ease-out 0s;
}
.header__information__list {
  padding: 0px 14px;
}
.list {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 32px;
  transform: scale(1);
  transition: all 0.3s ease-out 0s;
}
.header__information__my__page {
  padding-right: 0px;
  padding: 0px 14px;
}
.my__page {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 32px;
  transform: scale(1);
  transition: all 0.3s ease-out 0s;
}
.link {
  text-decoration: none;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  height: 32px;
  color: black;
}
}





.evaluation {
  display: inline-block;
}

.item-detail{
  border-style: solid;
  border: 1px solid #f5f5f5;
  float: right;
  max-width: 300px;
  height: 420px;
  margin: 0 auto;
  width: 300px;
  font-size: 14px;

  a{
    text-decoration: none;
    color: #0099e8;
  }
  a:hover{
  text-decoration: underline;
  }
}

.items-image-elements{
  position: relative;
  overflow: hidden;
  display: inline-block;
  opacity: .4;
  cursor: pointer;
  img {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
}

.items_container {
  width: 700px;
  padding: 24px 40px 60px;
  margin: 8px auto;
  background-color: white;
  box-sizing: border-box;

}

.items-name{
  font-size: 24px;
  text-align: center;
  line-height: 1.4;
  color: #333;
}

.items-img-box{
  float: left;
  min-width: 200px;
  max-width: 300px;
  min-height: 375px;
  background: #fafafa;
  line-height: 0;
}

.items-image-main img{
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.items-image-list{
  height: 120px;
  display: block;
  font-size: 0;
}

.category_list{
  display: grid;
}

.item-detail th{
  width: 39%;
  text-align: left;
  font-weight: 400;
  background: #fafafa;
  padding: 8px;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
}

a{
  text-decoration: none;
}

.item-price-box{
  text-align: center;
}

.item-price-box{
  margin: 24px 0 0;
}
.iteme-price{
  margin: 0 16px 0 0;
  font-size: 50px;
  font-weight: 600;
}

.iteme-tax{
  font-size: 10px;
}

.iteme-shipping{
  font-size: 16px;
}

.item-product{
  height: 420px;
}

.buy-btn{
  display: block;
  margin-top: 16px;
  background: #ea352d;
  font-size: 14px;
  color: #fff;
  line-height: 56px;
  text-align: center;
  font-weight: 600;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  font-size: 15px;
  line-height: 60px;
}

.iteme-praice-or{
  text-align: center;
  margin-top: 16px;
}

.exhibiting-delete-button{
  display: block;
  margin-top: 16px;
  background: #aaa;
  font-size: 14px;
  color: #fff;
  line-height: 56px;
  text-align: center;
  font-weight: 600;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  font-size: 15px;
  line-height: 60px;
}

.item-message-box{
  padding: 32px 0 0;
  line-height: 1.5;
}
.item-message{
  white-space: pre-wrap;
  font-size: 18px;
}

.item-button{
  display: inline-block;
  padding: 8px 16px;
  border-radius: 40px;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  color: #333;
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
}

.iteme-btn-box{
  margin: 16px 0 0;
}

.item-button-report{
  margin: 0 0 0 16px;
  color: #333;
  background: #f5f5f5;
  border-radius: 40px;
  padding: 8px 16px;
    span{
      font-size: 14px;
    }
}

@keyframes hurueru {
  50% {transform: translate(2px, 2px) rotateZ(0deg)}
}

.item-btn-left{
  float: left;
    span{
      font-size: 14px;
    }
}

.item-btn-right{
  margin: 8px 0 0;
  float: right;
    a{
      color: #0099e8;
    }
}

.nav-link{
  width: 700px;
  margin: 24px auto 0;
  &__left{
    float: left;
    width: 45%;
  }
  &__right{
    float: right;
    width: 45%;
    text-align: right;
    a::after{
      content: "\f054";
      font-family: FontAwesome;
    }
  }
  a{
    color: #0099e8;
  }
  a:hover{
  text-decoration: underline;
  }
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

.media-box{
  margin: 24px auto;
  padding: 32px 0 24px;
  width: 700px;
  background: #fff;
    li{
    display: inline-block;
    margin: 0 8px 8px 0;
    vertical-align: middle;
    text-align: center;
    }
  &__social{
    margin: 16px 0 0;
    text-align: center;
  }
}

.proface{
  color: navy;
  font-size: 44px;
  transition: 10s;
  -webkit-transition: 10s;
}
.protwi{
  color:  skyblue;
  font-size: 44px;
  transition: 10s;
  -webkit-transition: 10s;
}


.propin{
  color: red;
  font-size: 44px;
  transition: 10s;
  -webkit-transition: 10s;
}

.items_detail-message {
  width: 700px;
  margin: 8px auto;
  .message-form {
    width: 100%;
    height: 200px;
    .textbox {
      width: 100%;
      height: 100px;
    }
    .form-send {
      width: 100%;
      height: 50px;
      &__button {
        width: 100%;
        height: 100%;
        font-size: 2rem;
        background-color: red;
        color: white;
        border-radius: 5px;
        cursor: pointer;
      }
      

    }
  }
  .message-container {
    width: 100%;
      .message-content {
        padding: 24px;
        background-color: #fff;
          .message-items {
            li {
              margin: 1.5rem 0 0;
            }
            .message-user {
              position: relative;
              // display: inline-block; 
              color: #333;
              text-decoration: none;
              float: left;
                .bold {
                  width: 600px;
                  min-width: 600px;
                  display: block;
                  position: absolute;
                  top: 0;
                  left: 56px;
                  height: 1.2em;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  font-weight: 600;
                
                }
                .user-icon-image {
                  overflow: hidden;
                  width: 40px;
                  height: 40px;
                  
                  border-radius: 50%;
                  background-color: chartreuse;
                }
                  .message-is-seller {
                    margin: 8px 0 0;
                    padding: 4px;
                    background-color: #eef0f4;
                    color: #000;
                    font-size: 12px;
                    vertical-align: top;
                    border-radius: 2px;       
                  }       
            }
            .message-body {
              margin-top: 20px;
              width: 600px;
              float: right;
              position: relative;
              padding: 16px;
              background-color: #eef0f4;
              border-radius: 15px;
              line-height: 1.5rem;
              word-break: break-all;
                .message-icons {
                  margin: 8px 0 0;
                    .message-icon-left {
                      display: block;
                      color: #aaa;
                      float: left;
                    }
                    .message-icon-right {
                      cursor: pointer;                            
                      float: right;
                        a {
                          color: #aaa;
                          text-decoration: none;
                          display: inline-block;
                        }
                    }
                }
                .icon-balloon::before {
                  content: '';
                  position: absolute;
                  left: -9px;
                  top: 6px;
                  display: block;
                  width: 0;
                  height: 0;
                  border-right: 10px solid #eef0f4;
                  border-top: 10px solid transparent;
                  border-bottom: 20px solid transparent;

                }
            }
            
          }
      }
  }
  ul {
    list-style: none;
  }

}

.product--indexes {
  width: 700px;
  margin: 0 auto;
    .product--index {
      padding: 0 20px 20px 0;
        &__caption {
          font-size: 22px;
          margin: 24px 0 8px;
            a {
              color: #0099e8;
              text-decoration: none;
            }
        }
        &__item--lists {
          width: 700px;
          display: flex;
          flex-wrap: wrap;
            .list--card {
              width: 33%;
              height: auto;
              padding: 10px;
              a {
                display: block;
                color: #333;
                text-decoration: none;
                  .list--card__image {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                  }
                  .list--url {
                    padding: 16px;
                    background-color: #fff;
                      &__content {
                        overflow: hidden;
                        font-weight: 400;
                        height: 3em;
                        line-height: 1.5;
                        word-break: break-word;
                        white-space: normal;
                        font-size: 16px;
                        color: #333;
                      }
                      &__under {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin: 8px 0 0;
                        -webkit-box-align: center;
                        -webkit-box-pack: justify;
                        &__price {
                          font-size: 17px;
                        }
                      }
                  }
                }
            }
        }          
    }
    * {
      box-sizing: border-box;
    }
}
}
